*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.banner-card{
    display: inline-block;
    position: relative;
}
.banner-card img{
    width: 100%;
    height: auto;
    filter: blur(3px);
}
.banner-text{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; /* Set text color */
      font-size: 18px; /* Set font size */
      font-family: Arial, sans-serif;
}
.banner-text h4{

    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn2 a{
    text-decoration: none;
    color: white;

}
.btn1{
    margin: 20px;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    background-color: rgb(42, 102, 200);
    border-radius: 3px;
    color: white;
    border: 1px solid rgb(122, 115, 115);
    transition: 0.5s ease;
}
.btn2{
    margin: 20px;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    background-color: rgb(233, 148, 45);
    border-radius: 3px;
    color: rgb(14, 13, 13);
    border: 1px solid rgb(122, 115, 115);
    transition: 0.5s ease;
}
.btn2:hover{
    background-color: black;
    color: white;
}
.btn1:hover{
    background-color: rgb(83, 79, 79);
}
.adi{
    padding: 10px;
    text-align: center;
    width: 100vw;
    height: auto;
    
}
.adi h1{
    padding-bottom: 20px;
}
.fee h1{
    text-align: center;
    font-weight: bold;
}
.class3 h2{
    text-align: center;
    color: #EA3D0F;
}
.fee{
    margin: 40px;
}
.class3{
    margin: 50px;
}

